

.admin-layout {
    display: grid;

    .left-nav {
        height: 100vh;
        background-color: rgb(19, 19, 19);
        color: white;

        // for brand name
        .brand{
            h2{
                color: white;
                text-align: center;
            }
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 2rem;
        }
        // for search input field
        .search {
            margin-left: 10%;
            margin-right: 10%;
            display: grid;
            grid-template-columns: 90% 10%;
            align-items: center;
            background-color: rgb(50, 49, 49);
            margin-top: 2rem;
            border-radius: 20px;
            input{
                border-radius: 20px;
                padding: 8px;
                background-color: rgb(50, 49, 49);
                outline: rgb(97, 92, 92);
            }
        }
        // for let nav item
        ol{
            list-style: none;
            margin-left: 10%;
            margin-right: 10%;
            li {
                padding: 10px;
                transition: all 0.2s ease-in-out;
                border: 2px solid rgb(19, 19, 19);
                border-radius: 10px;
                margin-top: 10px;
                cursor: pointer;
                .left-nav-list-item{
                    display: grid;
                    grid-template-columns: 30% 70%;
                    align-items: center;
                }
                &:hover{
                    border: 2px solid white;
                    box-shadow: 4px 4px 20px rgb(153, 147, 147);
                }
            }
          
        }
    }



    .content {

        .main-content-nav{
            padding: 10px;
            width: 100%;
            background-color: rgb(93, 90, 90);

            button {
                padding: 6px 10px 6px 10px;
                border: 1px solid white;
                border-radius: 10px;
                transition: all 0.2s ease-in-out;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }


    .content-outlet{
        height: 100vh;
        width: 100%;
        border: 1px solid black;
        border-radius: 6px;
        margin: 4px;
        background-color: rgb(154, 151, 151);
    }
}