<div class="admin-layout" 

  [ngStyle]="{

    'grid-template-columns':showLeftNav?'20% 80%':'5% 95%'
  }"
>
  <div class="left-nav">
    <div class="brand">
      <h2 [ngStyle]="{'font-size':showLeftNav?'30px':'15px'}">Brand name</h2>
    </div>
    <div class="search-box">
      <input type="text" *ngIf="showLeftNav" placeholder="Search..." name="" id="" />
      <fa-icon [icon]="searchIcon"></fa-icon>
    </div>

    <ol>
      <li *ngFor="let item of leftNavItems">
        <div class="left-nav-item">
          <span>
            <fa-icon [icon]="item.icon"></fa-icon>
          </span>
          <span *ngIf="showLeftNav">
            {{ item.title }}
          </span>
        </div>
      </li>
    </ol>

    <div class="user-info">
        <fa-icon [icon]="userIcon"></fa-icon>
        <b *ngIf="showLeftNav">
            Hello, Balaji
        </b>
    </div>
  </div>

  <div class="main-content">
    <div class="content-menu">
          <button (click)="hideAndShowLeftNav()">
            <fa-icon [icon]="trippIcon"></fa-icon>
          </button>
    </div>

    <div class="content">

    </div>
  </div>
</div>
