<div class="admin-layout">
  <div class="left-nav">
    <div class="brand">
      <h2>Brand name</h2>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." name="" id="" />
      <fa-icon [icon]="searchIcon"></fa-icon>
    </div>

    <ol>
      <li *ngFor="let item of leftNavItems">
        <div class="left-nav-item">
          <span>
            <fa-icon [icon]="item.icon"></fa-icon>
          </span>
          <span>
            {{ item.title }}
          </span>
        </div>
      </li>
    </ol>

    <div class="user-info">
        <fa-icon [icon]="userIcon"></fa-icon>
        <b>
            Hello, Balaji
        </b>
    </div>
  </div>

  <div class="main-content"></div>
</div>
